--index-url https://pypi.org/simple
gdown==4.7.1
tensorboardX==2.5.1
opencv-python==4.7.0.72
pandas==2.0.3
polars==0.17.11
pylibjpeg==1.4.0
scikit-image==0.22.0
pydicom==2.4.3
torchvision==0.15.2
-r requirements_torch.txt
